
html{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://cdn.discordapp.com/attachments/1229554922739990618/1229578140322500699/Untitled_video_-_Made_with_Clipchamp.gif?ex=663030e1&is=661dbbe1&hm=bd00fdbf9c29731b2f58d79e3cbd8c03099502403e9dc6988347a9eaf0f7a6bb&) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  blur
}
.projects {
  background-color: #000016;
}

.projects .content{
  margin-top: 30px;}

  .more-details2 {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700px;
    margin: 100px;
    color: #fc0000;
}
.more-details2:hover{
    color: #601cfc;}
.more-details1:hover {
    color: #601cfc;}

    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #fd0000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
    padding-left: 30px;
}

.navigation a:hover{
    color: yellow;
    text-shadow: 4px 1px 7px orange;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://cdn.discordapp.com/attachments/1229554922739990618/1229578140322500699/Untitled_video_-_Made_with_Clipchamp.gif?ex=663030e1&is=661dbbe1&hm=bd00fdbf9c29731b2f58d79e3cbd8c03099502403e9dc6988347a9eaf0f7a6bb&) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: yellow;
    font-size: 3em;
    font-weight: 600;
    text-shadow: 4px 1px 7px orange;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-shadow: 4px 1px 7px orange;
}

.main-btn {
    color: #000000;
    background-color: yellow; 
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: yellow;
    transform: scale(1.1);
   box-shadow: 1px 1px 14px orange;
}

.social-icons a {
... (252 lines left)
}
#discord:hover{
  transform: scale(1.1);
  translate: 3d(1px, 2px, 65px);;
}
#discord{
  display: inline-block;
  transition: 0.7s ease;
  width: 40px;
  
}
.content p{
    width: 700px;
    line-height: 26px;
    font-size: 18px;
    text-align: justify;
  }
  
  .cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid #fc9700;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #f80c0c;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
  .content:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(1.0);
    background-color: #ff0404;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0;
  }
  